<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Glove</h2>
        <ol>
          <li><a href="/main.html">Home</a></li>
          <li>Glove</li>
        </ol>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->
  <!-- ======= Blog Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row">

        <div class="col-lg-8">
          <img th:src="${glove.imageLink}" class="wonse">
        </div>

        <div class="col-lg-4 portfolio-info">
          <h3 th:text="${glove.name}"></h3>
          <table>
            <tr>
              <th>Brand: </th>
              <td th:text="${glove.brand}"></td>
            </tr>
            <tr>
              <th>Position: </th>
              <td th:text="${glove.position}"></td>
            </tr>
            <tr>
              <th>Size: </th>
              <td th:text="${glove.size_glove}"></td>
            </tr>
            <tr>
              <th>Price: </th>
              <td th:text="${glove.price}"></td>
            </tr>
          </table>
          <section id="blog" class="blog">
            <article class="entry" id="wonse1">
              <div class="entry-content">
                <div class="read-more">
                  <a href="/order">Buy</a>
                </div>
              </div>
            </article>
          </section><!-- End Blog Section -->
        </div>
      </div>
    </div>
  </section><!-- End Portfolio Details Section -->
</main><!-- End #main -->
</body>
<div th:replace="fragments/footer :: footer"></div>