<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Spike</h2>
        <ol>
          <li><a href="/home">Home</a></li>
          <li>Spike</li>
        </ol>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->
  <!-- ======= Blog Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <img th:src="${spike.imageLink}" class="wonse">
        </div>

        <div class="col-lg-4 portfolio-info">
          <h3 th:text="${spike.name}"></h3>
          <table>
            <tr>
              <th style="text-align: right">Brand: </th>
              <td style="text-align: left" th:text="${spike.brand}"></td>
            </tr>
            <tr>
              <th style="text-align: right">Sole: </th>
              <td style="text-align: left" th:text="${spike.sole}"></td>
            </tr>
            <tr>
              <th style="text-align: right">Size: </th>
              <td style="text-align: left" th:text="${spike.size_spike}"></td>
            </tr>
            <tr>
              <th style="text-align: right">Price: </th>
              <td style="text-align: left" th:text="${spike.price}"></td>
            </tr>
          </table><br>
          <table>
            <tr>
              <a th:href="@{/order/{productId} (productId=${spike.getId()})}"
                 class="get-started-btn ml-auto" role="button">Buy</a>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section><!-- End Portfolio Details Section -->
</main><!-- End #main -->
</body>
<div th:replace="fragments/footer :: footer"></div>