<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BULS O_WN SHOP</title>   
        <style>
            /* table{
                width: 100%;
            } */
            /* table, th, td, tr{
                border: 1px solid #bcbcbc;
            } */
        </style> 
    </head>
    <body>
        <div>
            <table>
                <tbdoy>
                    <tr>
                        <td>
                            <div class="header-wrap">
                                <h1>스파이크 이름</h1>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <table>
                            <tr>
                                <th rowspan="3"><img src="spike_images/spike_ex.jpg"></th>
                                <td>사이즈
                                    <select name="size">
                                        <option value="250">250</option>
                                        <option value="260">260</option>
                                        <option value="270">270</option>
                                        <option value="280">280</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    터포토작업
                                    <select name="work">
                                        <option value="no">선택하지 않음</option>
                                        <option value="righthand">우투</option>
                                        <option value="lefthand">좌투</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    스파이크 주머니
                                    <select name="pocket">                                      
                                        <option value="no">포함하지 않음</option>
                                        <option value="yes">포함(+5000원)</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </tr>
                    <tr>
                        <td>
                            <div class="footer-wrap"></div>
                        </td>
                    </tr>
                </tbdoy>
            </table>
        </div>
    </body>
</html>