<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BULS O_WN SHOP</title>   
        <style>
            /* table{
                width: 100%;
            } */
            /* table, th, td, tr{
                border: 1px solid #bcbcbc;
            } */
        </style> 
    </head>
    <body>
        <div>
            <table>
                <tbdoy>
                    <tr>
                        <td>
                            <div class="header-wrap">
                                <h1>배트 이름</h1>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <table>
                            <tr>
                                <th rowspan="3"><img src="bat_images/bat_ex.jpg"></th>
                                <td>인치/온스
                                    <select name="inch/ounce">
                                        <option value="33/28">33인치28온스</option>
                                        <option value="32.27">32인치27온스</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    배트가방
                                    <select name="bag">
                                        <option value="no">선택하지 않음</option>
                                        <option value="yes">1개입 배트가방(+15000원)</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    배트가방
                                    <select name="pocket">                                      
                                        <option value="no">포함하지 않음</option>
                                        <option value="yes">포함(+5000원)</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </tr>
                    <tr>
                        <td>
                            <div class="footer-wrap"></div>
                        </td>
                    </tr>
                </tbdoy>
            </table>
        </div>
    </body>
</html>