<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BULS O_WN SHOP</title>   
        <style>
            /* table{
                width: 100%;
            } */
            /* table, th, td, tr{
                border: 1px solid #bcbcbc;
            } */
        </style> 
    </head>
    <body>
        <div>
            <table>
                <tbdoy>
                    <tr>
                        <td>
                            <div class="header-wrap">
                                <h1>글러브 이름</h1>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <table>
                            <tr>
                                <th rowspan="3"><img src="glove_images/glove_ex.jpg"></th>
                                <td>우투/좌투
                                    <select name="hand">
                                        <option value="right">우투</option>
                                        <option value="left">좌투</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    길들이기
                                    <select name="work">
                                        <option value="no">선택하지 않음</option>
                                        <option value="byHand">수제</option>
                                        <option value="water">물형부</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    글러브주머니
                                    <select name="pocket">                                      
                                        <option value="no">포함하지 않음</option>
                                        <option value="yes">포함(+5000원)</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </tr>
                    <tr>
                        <td>
                            <div class="footer-wrap"></div>
                        </td>
                    </tr>
                </tbdoy>
            </table>
        </div>
    </body>
</html>