<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BULS O_WN SHOP</title>
        <a class="main-menu" href="./../../main.html" id="menu1">Home</a>
    </head>
    <body>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="header-wrap">
                                <h1>스파이크</h1>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex2.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex3.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex4.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex5.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex2.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex3.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex4.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex5.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex2.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex3.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex4.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="20%">
                                        <div class="thumb" style="width:200px; position:relative;">
                                            <p></p>
                                            <div id="product_img">
                                                <img src="spike_images/spike_ex5.jpg" alt="spike_ex">
                                            </div>
                                            <div class="goodsnm" style="width: 200px;">이름</div>
                                            <div style="width: 200px; font-size: 13px;">가격</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="footer-wrap">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
