<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>My Page</h2>
                <ol>
                    <li><a href="/main.html">Home</a></li>
                    <li>My Page</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <div class="container">
        <div id="content">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>상품 명</th>
                    <th>주문수량</th>
                    <th>총 가격</th>
                    <th>일시</th>
                    <th>상태</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${member.getOrders()}">
                    <td th:text="${order.getId()}"></td>
                    <td th:text="${order.orderProducts[0].product.getName()}"></td>
                    <td th:text="${order.orderProducts[0].count}"></td>
                    <td th:text="${order.getTotalPrice()}"></td>
                    <td th:text="${order.getOrderDate()}"></td>
                    <td th:text="${order.status}"></td>
<!--                    <td>-->
<!--                        <a th:if="${item.status.name() == 'ORDER'}" href="#" th:href="'javascript:cancel('+${item.id}+')'" class="btn btn-danger">CANCEL</a>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</main>
</body>
</html>