<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class ="main-form">
        <h1>BULS O_WN SHOP</h1>
        <div class="products" id ="products">
            <li><a class ="main-form" href="./gloves/glove.html" id ="products">GLOVE</a></li>
            <li><a class ="main-form" href="./bats/bat.html" id ="products">BAT</a></li>
            <li><a class ="main-form" href="./shoes/shoes.html" id ="products">SHOES</a></li>
        </div>

        <div class = "members" id="members">
            <li><a class ="main-form" href="./members/newMember.html" id="members">회원가입</a></li>
            <li><a class ="main-form" href="./members/login.html" id="members">로그인</a></li>
            <li><a class ="main-form" href="./myPage/myPage.html" id="members">마이페이지</a></li>
            <li><a class ="main-form" href="./administrator/admin.html" id="members">관리자 모드</a></li>
        </div>





    </section>

</body>
</html>
