<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container">
  <nav>
    <h2><a class="get-started-btn ml-auto" href="/admin/newProduct">상품 등록</a></h2>
    <h2><a class="get-started-btn ml-auto" href="/admin/productList">상품 목록</a></h2>
    <h2><a class="get-started-btn ml-auto" href="/admin/memberList">회원 목록</a></h2>
  </nav>
  <br>
  <h4>  <a class="main-menu" href="/" id="menu1">←돌아가기</a></h4>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
