<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>상품 등록</title>
    <link rel="stylesheet" href="jquery.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="jquery.js"></script>
  </head>
  <body>
    <header>
      <div id="title">
          <a class="main-menu" href="../home.html" id="menu1">Home</a>
        <h1>상품 등록</h1>
      </div>
      <div id="ctime">
      </div>

      <nav>
        <ul>
          <li><h4>  <a class="main-menu" href="./admin.html" id="menu1">←돌아가기</a></h4></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <form th:action="@{/items/new}" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="name">상품명</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">가격</label>
            <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="stockQuantity">수량</label>
            <input type="number" th:field="*{stockQuantity}" class="formcontrol" placeholder="수량을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="author">브랜드</label>
            <input type="text" th:field="*{author}" class="form-control" placeholder="브랜드를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="isbn">포지션</label>
            <input type="text" th:field="*{isbn}" class="form-control" placeholder="포지션을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

    <footer>
      <p>한상우 없는 한상우팀</p>
      <p>Created by EuiJae-Jeong</p>
    </footer>

  </body>
</html>
