<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>상품 목록</title>
    <link rel="stylesheet" href="jquery.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="jquery.js"></script>
  </head>
  <body>
    <header>
      <div id="title">
        <a class="main-menu" href="../home.html" id="menu1">Home</a>
        <h1>상품 목록</h1>
      </div>

      <nav>
        <ul>
          <li><h4>  <a class="main-menu" href="./admin.html" id="menu1">←돌아가기</a></h4></li>
        </ul>
      </nav>
    </header>
    <div id="ctime">
      <table class="table table-striped">
          <thead>
          <tr>
              <th>#</th>
              <th>상품명</th>
              <th>가격</th>
              <th>재고수량</th>
              <th></th>
          </tr>
          </thead>

      </table>
    </div>


    <footer>
      <p>한상우 없는 한상우팀</p>
      <p>Created by EuiJae-Jeong</p>
    </footer>

  </body>
</html>
