<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container">
    <h4><a class="main-menu" href="/admin">←돌아가기</a></h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>PW</th>
            <th>이름</th>
            <th>도시</th>
            <th>주소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.original_id}"></td>
            <td th:text="${member.user_id}"></td>
            <td th:text="${member.pw}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.address?.city}"></td>
            <td th:text="${member.address?.street}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
