<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="title">
          <a class="main-menu" href="/" id="menu1">Home</a>
          <h1>로그인</h1>
        </div>

        <nav>
          <ul>
            <li><h4><a class="main-menu" href="/" id="menu1">←돌아가기</a></h4></li>
          </ul>
        </nav>
      </header>

    <section class="login-form">
        <form action="">
            <div class="int-area">
                <label for="id">ID</label>
                <input type="text" name="id" id="id"
                autocomplete="off" required>
            </div>
            <div class="int-area">
                <label for="pw">PASSWORD</label>
                <input type="password" name="pw" id="password"
                autocomplete="off" required>
            </div>
            <div class="btn-area">
                <button id="btn"
                type="submit">LOGIN</button>
            </div>
        </form>
    </section>



    </section>
</body>
</html>
