<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<main id="main">
    <div class="container">
        <form role="form" action="/members/login" th:object="${loginForm}" method="post">
            <div class="form-group">
                <br>
                <label th:for="id">ID</label>
                <input type="text" th:field="*{id}" class="form-control" placeholder="ID를 입력하세요"
                       th:class="${#fields.hasErrors('id')}? 'form-control fieldError' : 'form-control'">

            </div>
            <div class="form-group">
                <label th:for="pw">PW</label>
                <input type="password" th:field="*{pw}" class="form-control" placeholder="비밀번호를 입력하세요"
                       th:class="${#fields.hasErrors('pw')}? 'form-control fieldError' : 'form-control'">
                <div th:if = "${session.errorMessage != null}">
                    <p>올바르지 않은 ID 또는 비밀번호입니다</p>
                </div>
            </div>
            <div class="btn-area">
                <button class="btn btn-primary" type="submit">LOGIN</button>

            </div>
        </form>
        <br>
    </div>
<div th:replace="fragments/footer :: footer"></div>
</main>
</body>
</html>
