<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/header :: header">-->
<!--</head>-->

<body>
<!--<div th:replace="fragments/bodyHeader :: bodyHeader"></div>-->
  <div class="container">
      <form role="form" action="/members/new" th:object="${memberForm}" method="post">
          <div class="form-group">
              <label th:for="name">이름</label>
              <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                     th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
              <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
          </div>
          <div class="form-group">
              <label th:for="birth">생년월일</label>
              <input type="text" th:field="*{birth}" class="form-control" placeholder="생년월일을 입력하세요(ex.990101)"
                     th:class="${#fields.hasErrors('birth')}? 'form-control fieldError' : 'form-control'">
              <p th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Incorrect birthDay</p>
          </div>
          <div class="form-group">
              <label th:for="id">ID</label>
              <input type="text" th:field="*{user_id}" class="form-control" placeholder="ID를 입력하세요"
                     th:class="${#fields.hasErrors('user_id')}? 'form-control fieldError' : 'form-control'">
              <p th:if="${#fields.hasErrors('user_id')}" th:errors="*{user_id}">Incorrect id</p>
          </div>
          <div class="form-group">
              <label th:for="phoneNumber">Phone Number</label>
              <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="번호를 입력하세요(ex.010-0001-0002)"
                     th:class="${#fields.hasErrors('phoneNumber')}? 'form-control fieldError' : 'form-control'">
              <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Incorrect phoneNumber</p>
          </div>
          <div class="form-group">
              <label th:for="city">도시</label>
              <input type="text" th:field="*{city}" class="form-control" placeholder="도시를 입력하세요">
          </div>
          <div class="form-group">
              <label th:for="street">거리</label>
              <input type="text" th:field="*{street}" class="form-control" placeholder="거리를 입력하세요">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
<br/>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
