<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<main id="main">
    <div class="container">
        <form role="form" action="/members/new" th:object="${memberForm}" method="post">
            <div class="form-group">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
            </div>
            <div class="form-group">
                <label th:for="id">ID</label>
                <input type="text" th:field="*{user_id}" class="form-control" placeholder="ID를 입력하세요"
                       th:class="${#fields.hasErrors('user_id')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('user_id')}" th:errors="*{user_id}">Incorrect id</p>
            </div>
            <div class="form-group">
                <label th:for="pw">비밀번호</label>
                <input type="password" th:field="*{pw}" class="form-control" placeholder="비밀번호를 입력하세요"
                       th:class="${#fields.hasErrors('pw')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}">Incorrect pw</p>
            </div>
            <!--          <div class="form-group">-->
            <!--              <label th:for="pw_check">비밀번호 확인</label>-->
            <!--              <input type="text" th:field="*{pw_check}" class="form-control" placeholder="비밀번호를 다시 입력하세요"-->
            <!--                     th:class="${#fields.hasErrors('pw_check')}? 'form-control fieldError' : 'form-control'">-->
            <!--              <p th:if="${#fields.hasErrors('pw_check')}" th:errors="*{pw_check}">Incorrect pw check</p>-->
            <!--          </div>-->
            <div class="form-group">
                <label th:for="birth">생년월일</label>
                <input type="text" th:field="*{birth}" class="form-control" placeholder="생년월일을 입력하세요(ex.990101)"
                       th:class="${#fields.hasErrors('birth')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Incorrect birthDay</p>
            </div>
            <div class="form-group">
                <label th:for="phoneNumber">휴대폰 번호</label>
                <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="번호를 입력하세요(ex.010-0001-0002)"
                       th:class="${#fields.hasErrors('phoneNumber')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Incorrect phoneNumber</p>
            </div>
            <div class="form-group">
                <label th:for="city">주소</label>
                <input type="text" th:field="*{city}" class="form-control" placeholder="주소를 입력하세요">
            </div>
            <div class="form-group">
                <label th:for="street">세부 주소</label>
                <input type="text" th:field="*{street}" class="form-control" placeholder="세부 주소를 입력하세요">
            </div>
            <button type="submit" class="btn btn-primary">회원 가입</button>
        </form>
    </div>
    <br/>
    <div th:replace="fragments/footer :: footer"></div>
</main>
</body>
</html>
