spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/thwh;
    username: thwh
    password: 1983
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #        show_sql: true # sysout으로 찍힘
        format_sql: true

logging.level:
  org.hibernate.SQL: debug # log에 찍힘
  org.hibernate.type: trace